
{% if ingress_nginx_dockerconfigjson is defined and ingress_nginx_dockerconfigjson %}
---
apiVersion: v1
kind: Secret
type: kubernetes.io/dockerconfigjson
metadata:
  name: image-pull
  namespace: {{ ingress_nginx_namespace }}
data:
  .dockerconfigjson: {{ ingress_nginx_dockerconfigjson }}

{% endif %}



      
      