---
apiVersion: v1
kind: Service
metadata:
  name: ingress-node-port
  namespace: ingress-nginx 
spec:
  type: NodePort
  selector:
    app.kubernetes.io/component: controller
    app.kubernetes.io/instance: ingress-nginx
    app.kubernetes.io/name: ingress-nginx
  ports:
{% if ingress_nginx_http_node_port is defined %}
    - name: http
      nodePort: {{ingress_nginx_http_node_port}}
      protocol: TCP
      port: 80
      targetPort: http
{% endif %}      
{% if ingress_nginx_https_node_port is defined %}
    - name: https
      nodePort: {{ingress_nginx_https_node_port}}
      protocol: TCP
      port: 443
      targetPort: https
{% endif %}      
      
      