

image:
    repository: {{ topolvm_image_prefix }}ghcr.io/topolvm/topolvm-with-sidecar

lvmd:
  # Will use lvmd in daemon (service) mode
  managed: false

controller:
  replicaCount: {{ topolvm_controller_replica_count }}

scheduler:
  enabled: true
  type: daemonset

node:
  nodeSelector:
    topology.topolvm.io: "true"

storageClasses:
{% for dc in topolvm_device_classes %}
  - name: {{ dc.storage_class }}
    storageClass:
        fsType: {{ dc.fstype }}
        isDefaultClass: false
        volumeBindingMode: WaitForFirstConsumer
        allowVolumeExpansion: true
        additionalParameters:
          topolvm.io/device-class: {{ dc.name }}
{% endfor %}


podSecurityPolicy:
  create: false

cert-manager:
  enabled: false