---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: argocd-server-ingress
  namespace: argocd
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/ssl-passthrough: "true"
{% if argocd_cluster_issuer is defined %}
    cert-manager.io/cluster-issuer: {{ argocd_cluster_issuer }}
    kubernetes.io/tls-acme: "true"
{% endif %}
spec:
  rules:
  - host: {{argocd_ingress_nginx_host}}
    http:
      paths:
      - backend:
          serviceName: argocd-server
          servicePort: https
{% if argocd_cluster_issuer is defined %}
  tls:
  - hosts:
    - {{argocd_ingress_nginx_host}}
    secretName: argocd-secret # do not change, this is provided by Argo CD
{% endif %}
          