---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: argocd-server-ingress
  namespace: argocd
  annotations:
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/ssl-passthrough: "true"
{% if argocd_cluster_issuer is defined %}
    cert-manager.io/cluster-issuer: {{ argocd_cluster_issuer }}
    kubernetes.io/tls-acme: "true"
{% endif %}
spec:
  ingressClassName: nginx
  rules:
  - host: {{argocd_ingress_nginx_host}}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: argocd-server
            port:
              name: https
{% if argocd_cluster_issuer is defined %}
  tls:
  - hosts:
    - {{argocd_ingress_nginx_host}}
    secretName: argocd-secret # do not change, this is provided by Argo CD
{% endif %}
          