{% if skas_clusterIssuer is defined %}
clusterIssuer: {{ skas_clusterIssuer  }}
{% endif %}

replicaCount: {{ skas_replica_count }}

{% if skas_control_plane %}
tolerations:
  - key: node-role.kubernetes.io/master
    operator: Equal
    effect: NoSchedule
  - key: node-role.kubernetes.io/control-plane
    operator: Equal
    effect: NoSchedule
{% endif %}

{% if skas_control_plane or skas_pod_anti_affinity%}
affinity:
{% endif %}
{% if skas_control_plane %}
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
      - matchExpressions:
        - key: node-role.kubernetes.io/control-plane
          operator: Exists
{% endif %}
{% if skas_pod_anti_affinity%}
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        podAffinityTerm:
          labelSelector:
            matchExpressions:
              - key: app.kubernetes.io/instance
                operator: In
                values:
                  - skas
          topologyKey: kubernetes.io/hostname
{% endif %}

skAuth:
  exposure:
    external:
      ingress:
{% if skas_ingress_nginx_host is defined %}
        host: {{ skas_ingress_nginx_host }}
{% else %}
        host:
{% endif %}
{% if skas_enable_login_service %}
      services:
        login:
          disabled: false
{% endif %}
  kubeconfig:
    context:
{% if skas_context is defined %}
      name: {{ skas_context }}
{% else %}
      name:
{% endif %}
    cluster:
{% if skas_api_server_url is defined %}
      apiServerUrl: {{ skas_api_server_url }}
{% else %}
      apiServerUrl:
{% endif %}
