# Reloader values

reloader:
  deployment:
    securityContext:
      seccompProfile:
        type: RuntimeDefault
    containerSecurityContext:
      capabilities:
        drop:
        - ALL
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true
